<div class="all">
  <h2>Yes</h2>
  <ul>
    <li>Yes this page does not scroll, needs to be fixed!</li>
    <li><a href="javascript:history.back()">Go Back</a></li>
  </ul>
  <h2>Licences</h2>
  <ul>
    <li>Some icons made by <a href="https://www.flaticon.com/authors/pixel-perfect" title="Pixel perfect">Pixel
      perfect</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></li>
    <li><img width=32 src="assets/loot.png"/> and <img width=32 src="assets/player.png"/> are property of the amazing <a
      href="https://www.twitch.tv/raupling">Raupling</a>.
    </li>
  </ul>

  <h2>About</h2>
  <ul>
    <li>This "game" is just a vacation project, it's nothing big, I just wanted to code something. So if you encounter
      bugs, don't be angry about it, just tell me, so that I can fix them. Thanks.
    </li>
    <li>The focus is on playing and having fun, there are ways to trick the system and to abuse the counters, do it if
      you like you are only ruining your own fun.
    </li>
    <li>The website is running just on your machine, no data is stored on an external server. Of course the data like
      icons gets downloaded but no usage data is tracked.
    </li>
  </ul>
</div>
