.maze-area {
  display: grid;
  height: 100%;
  width: 100%;
  gap: 0;
}

.maze-cell {
  display: block;
}

.maze-cell-special{
  z-index: -10;
  transform: scale(0.75);
}

.map {
  grid-area: all;
}

.overall {
  //height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas: "all";
  justify-items: left;
}

.specials {
  z-index: 10;
  grid-area: all
}
