.player-level {
  padding: 1em;
  font-size: xxx-large;
  color: darkgreen;
  grid-area: level;
  white-space: nowrap;
}

.maze-zoomed {
  width: 100%;
  height: 100%;
  grid-area: zoomed;
  padding: 1em;
}

.player-loot {
  padding: 1em;
  font-size: xxx-large;
  color: darkgreen;
  grid-area: loot;
  white-space: nowrap;
}

.minimap {
  grid-area: minimap;
  display: none;
}

@media only screen and (orientation: portrait) {
  .everthing {
    height: 100%;
    background-color: #c0a4a4;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto min-content;
    grid-template-areas:
    "zoomed zoomed"
    "loot level";
  }
}

@media only screen and (orientation: landscape) {
  .everthing {
    height: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: auto min-content;
    grid-template-rows: 1fr;
    grid-template-areas:
    "zoomed loot"
    "zoomed level";
  }
}
